@model Slider
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-12">
        <div>
            <img src="~/img/@Model.ImageURL" width="300" alt="Alternate Text" />   
        </div>
        <div>
            <a asp-action="Index" class="my-3 btn btn-secondary">Go Back</a>
            <form method="post" asp-action="DeletePost" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

</div>
