@model List<Product>

@foreach (Product product in Model)
{
    <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
        <div class="product-item text-center">
            <div class="img">
                <a href="">
                    <img src="~/img/@product.ImageURL" class="img-fluid" alt="">
                </a>
            </div>
            <div class="title mt-3">
                @Html.Raw(product.Title)
            </div>
            <div class="price">
                <span class="text-black-50"><a asp-controller="Home" asp-action="AddBasket" asp-route-id="@product.Id">Add to cart</a></span>
                <span class="text-black-50">$@product.Price</span>
            </div>
        </div>
    </div>
}
