@model Category
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-12">
        <h1>@Model.Name</h1>
        <div>
            @Html.Raw(Model.Description)
        </div>
        <div>
            <a asp-action="Index" class="my-3 btn btn-secondary">Go Back</a>
            <form method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

</div>
