
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmEmail</title>
</head>
<body>
    <form method="post">
        <h1 class="text-center">Confirmed</h1>
        <button asp-controller="Home" asp-action="Index" type="submit" class="btn btn-secondary">Go back to page</button>
    </form>
</body>
</html>
